.container{
  background: #F2F9F1;
}

.title {
  text-align: center;
  width: 100%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  border: solid #388E3C;
  border-width: 10px;
  border-radius: 10px;
  padding: 20px;
  background-color: #DDEEDF;
  box-sizing: border-box;
  
}

h1 {
  font-family: garamond, serif;
  color: #388E3C;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid #388E3C;
  margin-top: 2.5%;
  margin-bottom: 5%;
  border-width: 10px;
  border-radius: 10px;
  max-width: 80%;
}

.about-me {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 5%;
  margin-bottom: 5%;
  border: solid #388E3C;
  border-width: 10px;
  border-radius: 10px;
  padding: 10px;
  background-color: #DDEEDF;
  box-sizing: border-box;
  
}

.about {
  font-weight: bold;
  color: #388E3C;
}

.sections {
  width: 100%;
  margin-top: 20%;
  margin-bottom: 20%;
  padding: 5px;
  box-sizing: border-box;
  }