.container{
  background: #F6F6F6;
}

.title {
  text-align: center;
  width: 100%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  border: solid #0078AA;
  border-width: 10px;
  border-radius: 10px;
  padding: 20px;
  background-color: #F6F6F6;
  box-sizing: border-box;
  
}

h1 {
  font-family: garamond, serif;
  color: #0078AA;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid #0078AA;
  margin-top: 2.5%;
  margin-bottom: 5%;
  border-width: 10px;
  border-radius: 10px;
  max-width: 80%;
}

p{
  margin-left: 45px;
}

.about-me {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 5%;
  margin-bottom: 5%;
  border: solid #0078AA;
  border-width: 10px;
  border-radius: 10px;
  padding: 10px;
  background-color: #F6F6F6;
  box-sizing: border-box;
  
}

.sect-titles {
  color: #0078AA;
  margin-bottom: 20px;
}


.about {
  font-weight: bold;
  color: #0078AA;
}

.dividers {
  float: left;
  margin-top: 3%;
  margin-right: 10px;
  width: 1%;
  border: solid #0078AA;
  border-width: 5px;
  border-radius: 10px;
  box-sizing: border-box;
}

.sections {
  width: 100%;
  margin-top: 15%;
  margin-bottom: 15%;
  padding: 5px;
  box-sizing: border-box;
  }